[submodule "admin"]
	path = admin
	url = https://github.com/chechaandrey23/course-admin
[submodule "client"]
	path = client
	url = https://github.com/chechaandrey23/course-client
[submodule "server"]
	path = server
	url = https://github.com/chechaandrey23/course-server
